html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    /* font-family: 'Tinos', 'Times New Roman', Times, serif */
}

h1, h2, h3, h4 {
    font-weight: normal;
}

h1 {
    font-size: 36pt;
}

.block-header {
    margin: 5px 0 5px 0;
}
.block-header h2, .block-header h3 {
    display: inline;
}
.block-header h3 {
    float: right;
    margin: 0;
    color: lightslategray;
}

.horizontal-bar {
    width: 100%;
    border-top: 1px solid black;
}

.block {
    margin-bottom: 5px;
}

.document {
    width: 950px;
    margin: 30px auto 0 auto;
}

.post {
    border-right: 1px solid black;
    margin: 30px 12px 0 0;
    padding-right: 15px;
    padding-bottom: 5px;
    text-align: justify;
}

.post-header h2, .post-header h3 {
    display: inline;
}

.whitespace {
    display: inline-block;
    width: 20px;
}

.post-id {
    float: right;
    font-size: larger;
    color: black;
}