html {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    box-sizing: border-box;
    font-family: 'Tinos', 'Times New Roman', Times, serif;
    background-color: white;
}
.document {
    width: 950px;
    margin: 30px auto 0 auto;
}

@media screen and (max-width: 950px) {
    .document {
        width: auto !important;
    }
}

a {
    text-decoration-line: none;
    color: black;
}

a:hover {
    text-decoration-line: underline;
}

.header a {
    text-decoration-line: none;
    color: #838383;
    font-style: italic;
}
.header a:hover {
    text-decoration-line: underline;
}

h1, h2, h3, h4 {
    font-weight: normal;
}
.header {
    margin-top: 36px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 64pt;
    margin: 0;
    margin-bottom: 10px;
}

.block-header {
    margin: 5px 0 5px 0;
}
.block-header h2, .block-header h3 {
    display: inline;
}
.block-header h3 {
    float: right;
    margin: 0;
    color: #838383;
}

.horizontal-bar {
    width: 100%;
    border-top: 1px solid black;
}

.block {
    margin-bottom: 5px;
}

.post {
    border-right: 1px solid black;
    margin: 15px 12px 15px 0;
    padding-right: 15px;
    padding-bottom: 5px;
}

.post-header h2, .post-header h3 {
    display: inline;
}


.whitespace {
    display: inline-block;
    width: 20px;
}

.post-id {
    float: right;
    font-size: larger;
    color: black;
    text-decoration-line: none;
}

.post-id:hover {
    text-decoration-line: underline;
}

.next-block {
    float: right;
    color: #838383;
}

.footer {
    margin: 20px;
    text-align: center;
    color: #838383;
    font-size: small;
}
.footer a {
    color: #838383;
}

.horizontal-small-line {
    width: 20%;
    margin: 0 auto 0 auto;
    border-top: 1px solid lightgray;
}

.horizontal-small-line:last-child {
    display: none;
}

.actionable {
    text-align: center;
}

.post-body img {
    display: block;
    max-width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}
