{{ define "_layout" }}
<html>
<head>
    <title>The Wall</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Tinos&family=Roboto">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/app.js"></script>
</head>

<body>
    <div class="document">

        <div class="header">
            <h1>The Wall</h1>
            <a href="what">What is this?</a>
            <span class="whitespace"></span>
            <a href="how">How do I post?</a>
            {{ if .ShowTabs }}
                <div class="next-block">Queued for next block: {{ .PostsNextBlock }}</div>
            {{ end }}
        </div>

        {{ template "content" . }}
        <div class="footer">
            A wall that brings those you <span onclick="darkmode()">love</span> together instead of keeping them a part. <br>
            © 2020 <a href="https://github.com/itsthewall">
            The Wall</a> - <a href="https://github.com/itsthewall/thewall/blob/master/LICENSE">License</a> 
            - <a href="https://github.com/itsthewall/thewall">Repo</a>
        </div>
    </div>
</body>
</html>
{{ end }}
