{{ define "content" }}

<h1>How to use it</h1>

<p>The email you need to send your posts to is <code>letters@wall.obanana.rocks</code>. Please only send emails from the address you provided us on Friday night, otherwise we'll have to do some digging to make your post show up.</p>

<p>If you change the font, text color, text size, or do any other formatting in your email service it will not show up when your letter is published here. You can, however, add images to your letters. Those will be published as normal.</p>

<p>If you want to do some basic formatting, Markdown is supported. <strong>TODO(harrison): write quick markdown guide</strong></p>

<p>If you want to respond to a post you can write a hash (#) followed by the ID of the original post. For example, #32 (where 32 is the ID of the post). You can find the ID of a post by looking at the far right-hand-side of the title.</p>

{{ end }}
