{{ define "content" }}

<h1>How to use The Wall</h1>

<h2>I've written an email, who do I need to send it to?</h2>

<p>The email you need to send your posts to is <code>letters@wall.obanana.rocks</code>. Please only send emails from the address you provided us on Friday night, otherwise we'll have to do some digging to make your post show up.</p>

<h2>What formatting can I use?</h2>

<p>If you change the font, text color, text size, or anything else in Gmail (or whatever email service you are using) it will not show up when your letter is published here.</p>

<p>We some basic in-text formatting using a system called Markdown. Here are a few quick tips:</p>

<ul>
    <li>You can make italics by placing text between underscores: <code>_this will be italic_</code></li>
    <li>You can make text bold by placing text between two asterisks: <code>**this will be bold**</code></li>
    <li>If you want a quote, you can write: <code>&gt; this text will be in a quote</code></li>
</ul>

<h2>How can I include an image in my post?</h2>

<p>If you include an image in your post inline, it will show up when it's posted on the site. <strong>DO NOT ATTACH IMAGES, THEY WILL BE LOST TO THE VOID</strong></p>

<h2>How do I refer to another post in a post I'm writing?</h2>

<p>If you want to respond to a post you can write a hash (#) followed by the ID of the original post. For example, #32 (where 32 is the ID of the post). You can find the ID of a post by looking at the far right-hand-side of the title.</p>

{{ end }}
