{{ define "content" }}


<h1>The Wall</h1>
<!-- <a href="what">What is this?</a>
<a href="how">How do I post?</a> -->
{{ range .Blocks }}
<div class="block">
    <div class="block-header">
        <h2>{{ .Title }}</h2>
        <h3>12/5/2000</h3>
    </div>

    <div class="horizontal-bar"></div>

    {{ range .Posts }}
    <div class="post">
        <div class="post-header">
            <h2>{{ .Title }}</h2>
            <span class="whitespace"></span>
            <h3>Tobias - 3:30pm</h3>
            <a href="/post/{{.ID}}" class="post-id" id="post-{{.ID}}">#{{.ID}}</a>
        </div>

        <!-- <p>{{ .Body }}</p> -->

        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum placerat consectetur. Donec sed sagittis lacus. Nulla non nisi porttitor, finibus nulla accumsan, ullamcorper enim. Donec dapibus tortor vel mi luctus mattis. Quisque rutrum aliquet lorem, nec volutpat ipsum accumsan et. Cras at lorem egestas, tincidunt tellus et, fringilla mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
        <p>
        Phasellus eget malesuada augue. Suspendisse lacus tortor, mollis in tincidunt non, luctus ut orci. Vivamus faucibus, quam non lacinia consequat, neque ligula bibendum magna, et tincidunt eros nisi et ipsum. Suspendisse mollis quam dapibus purus eleifend, nec mollis velit facilisis. Proin a cursus sapien. Donec ornare convallis iaculis. Nunc maximus risus laoreet dolor pulvinar dapibus. Integer aliquet enim nulla, id finibus nisl gravida ac. Vestibulum vestibulum convallis lacus. 
        </p>
    </div>
    {{ end }}
</div>
{{ end }}

{{ end }}