{{ define "content" }}

<div class="header">
    <h1>The Wall</h1>
    <a href="what">What is this?</a>
    <span class="whitespace"></span>
    <a href="how">How do I post?</a>
    <div class="next-block">Queued for next block: {{ .PostsNextBlock }}</div>
</div>

{{ range .Blocks }}
<div class="block">
    <div class="block-header">
        <h2>Block: {{ .ID }}</h2>
        <h3>{{ Format .Time "Mon Jan 2 2006" }}</h3>
    </div>

    <div class="horizontal-bar"></div>

    {{ range .Posts }}
        {{ template "_post" . }}
    {{ end }}
</div>
{{ end }}

{{ end }}
