{{ define "_layout" }}
<html>
    <head>
        <title>The Wall</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Tinos&family=Roboto">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/static/app.js"></script>
    </head>

    <body>
        <div class="document">
            <div class="header">
                <h1>The Wall</h1>
            </div>

            <div class="actionable">
                <p>Thanks for dropping by, but in order to access the content on this page you're gonna need a password.</p>

                <form action="/password" method="POST">
                    {{ if .DidError }}
                    <p style="color: red;">Sorry, that password isn't correct.</p>
                    {{ end }}

                    <label for="password">Type your password here: </label><input type="password" name="password"/>

                    <input type="submit" />
                </form>
            </div>
            <div class="footer">
                A wall that brings those you <span onclick="darkmode()">love</span> together instead of keeping them a part. <br>
                © 2020 <a href="https://github.com/itsthewall">
                    The Wall</a> - <a href="https://github.com/itsthewall/thewall/blob/master/LICENSE">License</a>
                - <a href="https://github.com/itsthewall/thewall">Repo</a>
            </div>
        </div>
    </body>
</html>
{{ end }}
