{{ define "content" }}

<h1>What is The Wall</h1>

<p>This is, essentially, a weird digital letter writing service. We (Obi and Harrison) figured it'd be nice if we had a more long form way to catch up with each other since we can't hang out in person anymore. You'll be given an email, and will be able to send whatever you want to it. You can talk about whatever you want in your letters: everything from last nights dream, to tomorrows meal is on the table. Every so often (we're starting at once a day, but might change it depending on how things go) your posts will be published (yes, that's right gen-now they won't get published instantly).</p>

<p>You can find the nitty gritty details for how to actually submit your own posts <a href="/how">here</a>.</p>

{{ end }}
